{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <p class="text-success lead"><i class="fa fa-check-circle" aria-hidden="true"></i> Nous vous confirmons la prise en compte de votre commande. Elle sera livrée dans de brefs délais.</p>
    </div>
{% endblock %}

