{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2 text-center">S'identifier</h4>
                    </header>
                    <article class="card-body">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group mt-2">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input type="email" name="_username" id="email"
                                           class="form-control" placeholder="email" required autofocus>
                                </div>
                            </div> <!-- form-group end.// -->
                            <div class="form-group mt-4">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input type="password" name="_password" id="password"
                                           class="form-control" placeholder="mot de passe" required>
                                </div>
                            </div> <!-- form-group end.// -->
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                            <div class="form-group mt-5">
                                <button type="submit" class="btn btn-primary btn-block btn-lg"> S'identifier </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </div> <!-- col.//-->
        </div> <!-- row.//-->
    </div><!--container end.//-->
{% endblock %}
